In [ ]:
# importing pandas as pd 
import pandas as pd 

# Creating the DataFrame 
df = pd.DataFrame({"A":[12, 4, 5, None, 1], 
				"B":[7, 2, 54, 3, None], 
				"C":[20, 16, 11, 3, 8], 
				"D":[14, 3, None, 2, 6]}) 

# Create the index 
index_ = ['Row_1', 'Row_2', 'Row_3', 'Row_4', 'Row_5'] 

# Set the index 
df.index = index_ 

# Print the DataFrame 
print(df)

          A     B   C     D
Row_1  12.0   7.0  20  14.0
Row_2   4.0   2.0  16   3.0
Row_3   5.0  54.0  11   NaN
Row_4   NaN   3.0   3   2.0
Row_5   1.0   NaN   8   6.0

In [ ]:
# add 10 to each element of the dataframe 
result = df.transform(func = lambda x : x + 10) 
# Print the result 
print(result)

          A     B   C     D
Row_1  22.0  17.0  30  24.0
Row_2  14.0  12.0  26  13.0
Row_3  15.0  64.0  21   NaN
Row_4   NaN  13.0  13  12.0
Row_5  11.0   NaN  18  16.0